{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 col-md-10 offset-md-1">
            <h2>TL;DR</h2>
            <p>Morality AI is a project that seeks to map out what human moral reasoning looks like. The goal is <i>not</i> to decide what's right or wrong, but rather to get a sense of how people speak when they're talking about their moral beliefs and values. Our artificial neural network reads any bit of text and then tries to figure out if it is meant with moral weight or not--we call this "moral saliency".</p>
            <h2>Play with our AI!</h2>
            <p>
            You can help train our machine learning model by playing with it! When you test a sentence you think holds some kind of moral sentiment you can then give it feedback; we can use that data to train our next iteration of the model. But <strong>remember</strong> we're not focused on whether an assertion is right or wrong, only whether it concerns rightness or wrongness in a moral sense.
            </p>
            <div class="text-center">
                <a href="/" class="btn">Play with our AI!</a>
            </div>
            <h2>Read the paper!</h2>
            <p>This project was born out of my senior thesis; while a bit dry my paper, "Classifying Moral Sentiment with Deep Learning" fleshes out a framework for defining what a moral sentiment is, how to think about it both philosophically and linguistically, and the application of machine learning to the task.</p>
            <div class="text-center">
                <a href="https://drive.google.com/open?id=12OFhA8gbKM8BJAtxUoBP49H65nEpTQvY" class="btn">Read the paper!!</a>
            </div>
            <h2>Watch the TED Talk!</h2>
            <p>Coming soon :)</p>
        </div>
    </div>
</div>
{% endblock %}
